
<div class="card-container">
    <div class="card">
        <h2 class="card-valor">1.3592</h2>
        <p class="card-title">Customers</p>
        <p class="card-descripcion"> <span>L</span> Average Customers in System</p>
        <footer class="card-footer">
            <p>Average number of customers in the system.</p>
        </footer>
    </div><!--card-->

    <div class="card">
        <h2 class="card-valor1">0.3398</h2>
        <p class="card-title">Hours</p>
        <p class="card-descripcion"> <span>W</span> Average Time spent in System</p>
        <footer class="card-footer1">
            <p>Average time spent by a customer from arrival until fully served..</p>
        </footer>
    </div><!--card-->
</div>
