<h2 class="text-center">Todos los valores deben digitarse</h2>
<div class="unirow">
    <div class="unirow-servers">
        <h4 class="unirow-title">C</h4>
        <input class="unirow-input" type="text" placeholder="C" value="4">
        <p class="unirow-descripcion">Number of servers</p>
        <footer class="unirow-footer">
            <p>Number of servers in parallel <br> open to attend customers.</p>
        </footer>
    </div><!--servers-->
    <div class="arrival">
        <h4 class="arrival-title">Arrival and Service rates</h4>

        <div class="arrival-field">
            <label class="arrival-label" for="service rate">λ Arrivals / Hour</label>
            <input type="text" id="service" name="service"  class="arrival-input" placeholder="Service rate" value="4">
        </div><!--field-->

        <div class="arrival-field">
            <label class="arrival-label" for="service rate">μ Services / Hour</label>
            <input type="text" class="arrival-input" placeholder="Service rate" value="3">
        </div>
    </div><!--arrival-->
</div><!--unirow-->
<div class="div-boton">
    <button mat-button matStepperNext class="unirow-boton">Calcular</button>
</div><!--botoon-->
