
.text-center{
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: bold;
}
.unirow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}
.unirow-servers{
    background-color: #FFF;
    padding: 1.8rem 1rem;
    border-radius: 10px;
}
.unirow-title{
    font-weight: bold;
    margin-bottom: 0;
    color: #00092C;
}
.unirow-descripcion{
    font-size: 14px;
    margin-bottom: 0;
    font-weight: bold;
    margin: .8rem 0 .4rem 0;
}
.unirow-footer p{
    font-size: 10px;
    line-height: 1;
}
.arrival{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.arrival-title{
    font-weight: bold;
    margin-bottom: 0;
    color: #fff;
}
input[type="text"]{
    padding: .6rem .5rem;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 40px rgba(30, 49, 23, 5);
}
.arrival-label{
    color: #fff;
}
.arrival-field{
    display: flex;
    flex-direction: column;
}
.div-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.unirow-boton{
    outline: none;
    border: none;
    background-color: #FFCD38;
    padding: 1rem;
    text-align: center;
    color: #00092C;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
}
.unirow-boton:hover{
    cursor: pointer;
    background-color: #d8ad2b;
}
