<div class="tarjeta_contenedor">
    <div class="tarjeta">
        <h2 class="tarjeta__valor">1.3333</h2>
        <p class="tarjeta__titulo">Customers</p>
        <p class="tarjeta__descripcion"> <span>L</span> Average Customers in System</p>
        <footer class="tarjeta__footer">
            <p>Average number of customers in the system.</p>
        </footer>
    </div><!--tarjeta-->
    
    <div class="tarjeta">
        <h2 class="tarjeta__valor1">0.3333</h2>
        <p class="tarjeta__titulo">Hours</p>
        <p class="tarjeta__descripcion"> <span>W</span> Average Time spent in System</p>
        <footer class="tarjeta__footer1">
            <p>Average time spent by a customer from arrival until fully served..</p>
        </footer>
    </div><!--tarjeta-->
</div>
