
.header{
    background-color: #f4c430;
    padding: 12px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-title{
    text-align: center;
    color: #0009;
    font-size: 22px;
    margin-bottom: 0;
    font-weight: bold;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
.main-title{
    margin-top: 2rem;
    text-align: center;
    color: #f4c430;
    font-weight: bold;
}
.footer{
    background-color: #0006;
    text-align: center;
    color: #f4c430;
    padding: 1rem;
    font-weight: bold;
}
.footer p{
    margin: 0;
}
