<h2 class="text-center">Todos los valores deben digitarse</h2>
<div class="unifila">
    <div class="unifila-servers">
        <h4 class="unifila-title">C</h4>
        <input class="unifila-input" type="text" placeholder="C" value="5">
        <p class="unifila-descripcion">Number of servers</p>
        <footer class="unifila-footer">
            <p>Number of servers in parallel <br> open to attend customers.</p>
        </footer>
    </div><!--servers-->

    <div class="unifila-servers">
        <h4 class="unifila-title">M</h4>
        <input class="unifila-input" type="text" placeholder="M" value="34">
        <p class="unifila-descripcion">Population</p>
        <footer class="unifila-footer">
            <p> Number of customers that <br> can use the service</p>
        </footer>
    </div><!--servers-->

    <div class="arrival">
        <h4 class="arrival-title">Arrival and Service rates</h4>

        <div class="arrival-field">
            <label class="arrival-label" for="service rate">λ Arrivals / Hour</label>
            <input type="text" class="arrival-input" placeholder="Service rate" value="1">
        </div><!--field-->

        <div class="arrival-field">
            <label class="arrival-label" for="service rate">μ Services / Hour</label>
            <input type="text" class="arrival-input" placeholder="Service rate" value="2">
        </div>
    </div><!--arrival-->
</div><!--unifila-->
<div class="div-boton">
    <button mat-button matStepperNext class="unifila-boton">Calcular</button>
</div><!--botoon-->


